In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#features selected as per this tutorial: https://github.com/propublica/compas-analysis/blob/master/Compas%20Analysis.ipynb
df = pd.read_csv('COMPAS_preprocessed.csv')
#cols =  ['race','age', 'c_charge_degree', 'race', 'score_text', 'sex',
 #      'priors_count', 'days_b_screening_arrest', 'decile_score', 'is_recid',
  #     'two_year_recid', 'days_in_jail']
#df = df[cols]
from sklearn.model_selection import train_test_split
col_X = ['race','age', 'c_charge_degree', 'score_text', 'sex',
       'priors_count', 'days_b_screening_arrest', 'decile_score', 'is_recid', 
        'days_in_jail']
X = df[col_X]
y = df['two_year_recid']

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

X_pos = X_train[X_train['race']==1]
X_neg = X_train[X_train['race']==0]

y_pos = np.array(y_train[X_train['race']==1])
y_neg = np.array(y_train[X_train['race']==0])

col_X = ['age', 'c_charge_degree', 'score_text', 'sex',
       'priors_count', 'days_b_screening_arrest', 'decile_score', 'is_recid', 
        'days_in_jail']

X_pos = np.array(X_pos[col_X])
X_neg = np.array(X_neg[col_X])

In [ ]:
X_pos

,age,c_charge_degree,score_text,sex,priors_count,days_b_screening_arrest,decile_score,is_recid,days_in_jail
990,38,0,1,0,14,-1.0,10,1,4
1614,36,1,-1,1,3,-1.0,2,1,2
3784,19,0,-1,1,1,-1.0,4,1,3
1739,37,0,0,1,9,0.0,6,1,1
5027,23,1,0,0,2,-1.0,7,1,1
...,...,...,...,...,...,...,...,...,...
466,35,1,1,1,1,-1.0,9,1,79
3092,23,0,1,1,3,-1.0,8,1,0
5191,27,0,0,0,3,0.0,6,1,2
5226,44,0,0,1,11,-1.0,5,1,1
860,34,0,0,1,3,-1.0,6,1,0

In [88]:
# Equation 12

def distances(X, v, alpha, N, D, K):
    dists = np.zeros((N, D))
    for n in range(N):
        for i in range(D):
            for k in range(K):
              print('n i k: ', n, i,k)
              dists[n, k] += (X[n, i] - v[k, i]) * (X[n, i] - v[k, i]) * alpha[i]
    return dists

In [89]:
# Equation 2&3
def M_nk(dists, N, K):
    M_nk = np.zeros((N, K))
    exp = np.zeros((N, K))
    denom = np.zeros(N)
    for n in range(N):
        for j in range(K):
            exp[n, j] = np.exp(-1 * dists[n, j])
            denom[n] += exp[n, j]
        for j in range(K):
            if denom[n]:
                M_nk[n, j] = exp[n, j] / denom[n]
            else:
                M_nk[n, j] = exp[n, j] / 1e-6
    return M_nk

In [ ]:
# Equation 6
def M_k(M_nk, N, K):
    M_k = np.zeros(K)
    for j in range(K):
        for n in range(N):
            M_k[j] += M_nk[n, j]
        M_k[j] /= N
    return M_k

In [ ]:
# Equation 8&9
def Loss_x(X, M_nk, v, N, D, K):
    x_n_hat = np.zeros((N, D))
    L_x = 0.0
    for n in range(N):
        for i in range(D):
            for k in range(K):
                x_n_hat[n, i] += M_nk[n, k] * v[k, i]
            L_x += (X[n, i] - x_n_hat[n, i]) * (X[n, i] - x_n_hat[n, i])
    return x_n_hat, L_x

In [90]:
# Equation 10&11
def Loss_y(M_nk, y, w, N, K):
    yhat = np.zeros(N)
    L_y = 0.0
    for n in range(N):
        for k in range(K):
            yhat[n] += M_nk[n, k] * w[k]
        yhat[n] = 1e-6 if yhat[n] <= 0 else yhat[n]
        yhat[n] = 0.999 if yhat[n] >= 1 else yhat[n]
        L_y += -1 * y[n] * np.log(yhat[n]) - (1.0 - y[n]) * np.log(1.0 - yhat[n])
    return yhat, L_y

In [ ]:

# Equation 4 (target function)
def LFR(params, X_pos, X_neg, y_pos, y_neg, K, A_z, A_x, A_y, results=0):   
    #LFR.iters += 1
    N_pos, D = X_pos.shape # protected set
    N_neg, _ = X_neg.shape # non-protected set
    
    #print('PARAMS SHAPE: ', params.shape)
    alpha_pos = params[:D]
    alpha_neg = params[D: 2 * D]
    w = params[2 * D: (2 * D) + K]
    #print(alpha_pos.shape, alpha_neg.shape, w.shape)
    v = np.matrix(params[(2 * D) + K:]).reshape((K, D)) # set of prototypes

    dists_pos = distances(X_pos, v, alpha_pos, N_pos, D, K)
    dists_neg = distances(X_neg, v, alpha_neg, N_neg, D, K)

    M_nk_pos = M_nk(dists_pos, N_pos, K)
    M_nk_neg = M_nk(dists_neg, N_neg, K)

    M_k_pos = M_k(M_nk_pos, N_pos, K)
    M_k_neg = M_k(M_nk_neg, N_neg, K)

    L_z = 0.0
    for k in range(K):
        L_z += abs(M_k_pos[k] - M_k_neg[k]) # Equation 7

    x_n_hat_pos, L_x_pos = Loss_x(X_pos, M_nk_pos, v, N_pos, D, K)
    x_n_hat_neg, L_x_neg = Loss_x(X_neg, M_nk_neg, v, N_neg, D, K)
    L_x = L_x_pos + L_x_neg

    yhat_pos, L_y_pos = Loss_y(M_nk_pos, y_pos, w, N_pos, K)
    yhat_neg, L_y_neg = Loss_y(M_nk_neg, y_neg, w, N_neg, K)
    L_y = L_y_pos + L_y_neg

    criterion = A_x * L_x + A_y * L_y + A_z * L_z

    if results != 0:
        return yhat_pos, yhat_neg, M_nk_pos, M_nk_neg
    else:
        return criterion

In [ ]:
import scipy
from scipy.optimize import minimize
from numpy import linalg as LA
D = X_pos.shape[1]
K = 5
alpha_pos = np.random.uniform(size=D)
alpha_neg = np.random.uniform(size=D)
w = np.random.uniform(size=K) 
v = np.random.uniform(size=K*D)
params = alpha_pos
for item in [alpha_neg, w, v]:
  params = np.append(params, item.flatten())
scipy.optimize.minimize(LFR, 
                        x0=params, 
                        args=(X_pos, X_neg, y_pos, y_neg, K, 1000, 1e-4, 0.1),
                        method='SLSQP')

In [84]:
params = [ 5.82069852e-01,  5.02124425e-01,  9.10965658e-01,  2.74610268e-01,
        3.97474821e-01,  8.59815622e-01, -1.23429220e-02,  8.01572071e-01,
        6.20959318e-01,  4.11713157e-01,  1.12769911e-01,  6.35033690e-01,
        4.74356319e-01,  3.19261536e-01,  5.02481813e-01,  9.02021525e-01,
        5.20529878e-01,  2.21460812e-01,  4.10512509e-02,  1.48162758e-01,
        7.60217917e-01,  5.16203490e-01,  2.11645900e-01,  1.22500502e-03,
        8.55725789e-01,  8.68243998e-01,  5.47817586e-01,  9.90537625e-01,
        3.74669836e-01,  2.39921902e-01,  5.35120539e-01,  5.56152285e-01,
        9.91920355e-01,  2.24086371e-01,  5.26454612e-01,  3.54774321e-01,
        1.68337243e-01, -2.53014775e-01,  5.95022381e-01,  4.20818566e-02,
        8.83086285e-01,  5.02413549e-01,  9.78994332e-01,  1.46986557e-01,
        8.49847517e-01,  5.99330128e-01,  2.27207712e-01,  9.78283710e-01,
        5.06313056e-02,  1.25743358e-02,  3.29875819e+00,  7.98292772e-01,
        6.04982755e-01,  5.08084165e-01,  4.49117642e-01,  5.38505770e-01,
        1.35323396e+00,  2.13704460e-01,  3.18681907e-01,  7.39004365e-01,
        5.14488530e-01,  1.35828801e-01,  4.25325165e-01,  1.88144890e-01,
        3.54994983e-01,  3.04144632e-01,  6.37803973e-01,  3.28983126e-01]

In [94]:
alpha_pos = params[:D]
alpha_neg = params[D: 2*D]
w = params[2*D: (2*D) + K]
v = params[(2*D) + K: ].reshape((K,D))#np.random.uniform(size=K*D)

Now we evaluate this algorithm based on the 4 metrics: parity, odd equality, explainable discrimination, and calibration

In [105]:
##calculate parity P(Y_hat = 1 | S = 0) = P(Y_hat = 1 | S = 1)

#1) segment test dataset into sensitive and non sensitive
X_pos = X_test[X_test['race']==1]
X_neg = X_test[X_test['race']==0]

y_pos = np.array(y_test[X_test['race']==1])
y_neg = np.array(y_test[X_test['race']==0])

col_X = ['age', 'c_charge_degree', 'score_text', 'sex',
       'priors_count', 'days_b_screening_arrest', 'decile_score', 'is_recid', 
        'days_in_jail']

X_pos = np.array(X_pos[col_X])
X_neg = np.array(X_neg[col_X])

#2) calculate Y_hat for neg & pos
#recover M_nk
N_pos, D = X_pos.shape # protected set
N_neg, _ = X_neg.shape # non-protected set


dists_pos = distances(X_pos, v, alpha_pos, N_pos, D, K)
dists_neg = distances(X_neg, v, alpha_neg, N_neg, D, K)

M_nk_pos = M_nk(dists_pos, N_pos, K)
M_nk_neg = M_nk(dists_neg, N_neg, K)

yhat_pos, lypos = Loss_y(M_nk_pos, y_pos, w, N_pos, K)
yhat_neg, lyneg = Loss_y(M_nk_neg, y_neg, w, N_neg, K)

#3) find y_hat = 1 for both neg and positive
"""FINDING PARITY"""
len(yhat_pos[yhat_pos > 0.5])/len(yhat_pos) #for sensitive attribute
len(yhat_neg[yhat_neg > 0.5])/len(yhat_neg) #for non-sensitive attribute

(0.4718045112781955, 0.471976401179941)

In [112]:
##evaluation metric 2: equality of odds
"""EQUALITY OF ODDS"""
#for when y is True
len(yhat_pos[(y_pos > 0.5)]) / len(yhat_pos), len(yhat_neg[(y_neg > 0.5)]) / len(yhat_neg) #(0.5122180451127819, 0.3746312684365782)
#for when y is False
len(yhat_pos[(y_pos < 0.5)]) / len(yhat_pos), len(yhat_neg[(y_neg < 0.5)]) / len(yhat_neg) #(0.48778195488721804, 0.6253687315634219)

(0.5122180451127819, 0.3746312684365782)

In [114]:
"""evaluation metric 3: explainable discrimination"""
#step 1) simulate X data for age, c_charge_degree, score_text, sex, priors_count, days_b_screening_arrest, decile_score, days_in_jail
X_pos = [] #TODO:fill in
X_neg = [] #TODO: fill in
#step 2) calculate yhat -- BUT have to recalculate distances & M_nk first!
X_pos = np.array(X_pos[col_X])
X_neg = np.array(X_neg[col_X])

#2) calculate Y_hat for neg & pos
#recover M_nk
N_pos, D = X_pos.shape # protected set
N_neg, _ = X_neg.shape # non-protected set


dists_pos = distances(X_pos, v, alpha_pos, N_pos, D, K)
dists_neg = distances(X_neg, v, alpha_neg, N_neg, D, K)

M_nk_pos = M_nk(dists_pos, N_pos, K)
M_nk_neg = M_nk(dists_neg, N_neg, K)

yhat_pos, lypos = Loss_y(M_nk_pos, y_pos, w, N_pos, K)
yhat_neg, lyneg = Loss_y(M_nk_neg, y_neg, w, N_neg, K)

#step 3) calculate  # of yhat_pos[yhat_pos > 0.5] /yhat_pos and yhat_neg[yhat_neg > 0.5] /yhat_neg
#len(yhat_pos[yhat_pos > 0.5]) / len(yhat_pos)
#len(yhat_neg[yhat_neg > 0.5]) /len(yhat_neg)

,race,age,c_charge_degree,score_text,sex,priors_count,days_b_screening_arrest,decile_score,is_recid,days_in_jail
1264,0,47,1,-1,1,0,-1.0,1,0,1
990,1,38,0,1,0,14,-1.0,10,1,4
2897,0,31,0,1,1,17,-1.0,8,1,1
1614,1,36,1,-1,1,3,-1.0,2,1,2
3784,1,19,0,-1,1,1,-1.0,4,1,3
...,...,...,...,...,...,...,...,...,...,...
3092,1,23,0,1,1,3,-1.0,8,1,0
3772,0,56,0,-1,1,1,0.0,2,0,15
5191,1,27,0,0,0,3,0.0,6,1,2
5226,1,44,0,0,1,11,-1.0,5,1,1
860,1,34,0,0,1,3,-1.0,6,1,0

In [ ]:
"""evaluation metric 4: calibration"""
"""follows for metric #1 -- parity"""
#TODO: need to take complement of parity calculation for when Y=0